body
{
    font-family:sans-serif;
}

.memberImage {
    border: 3px solid rgb(95, 94, 94);
}

.memberImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NavBar {
    overflow: hidden;
    background-color: #d37e4d;
}

.NavBar a {
    float: left;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.NavBar a:hover {
    background-color: #e05d10;
    color: black;
}

.NavBar a.active {
    background-color: black;
    color: white;
}

.NavBar .icon {
    display: none;
}
